
<!-- TODO:  Add confirmation notification on save, should only be red on save pressed or on leave field.  Not automatically. -->

<div fade-in>

    <div class="container">
        <div class="form-row">
            <h3>
                Perfil de usuario de <%= email %>
            </h3>
            <hr>
        </div>
        <div class="well">
            <form novalidate class="container css-form">
                <div class="container form-row">
                    Nombre:<input class="form-control" type="text" value=<%= nombre %> ng-model="conectado.nombre" required/>
                </div>
                <div class="container form-row">
                    Apellido:<input class="form-control" type="text" value=<%= apellido %> ng-model="conectado.apellido" required/>
                </div>
                <div class="container form-row">
                    E-mail:<input class="form-control" type="email" value=<%= email %> ng-model="conectado.email"
                                                    required/><br/>
                </div>
                <div class="container form-row">
                    Contraseña:<input class="form-control" type="password" value=<%= contrasena %> ng-model="conectado.contrasena"
                                                    required/><br/>
                </div>
                <div style="padding-top: 1em;" class="container form-row">
                    <a id="registro" class="btn btn-primary" ng-click="perfildeUsuario()">Actualizar perfil</a>
                </div>
                <div class="container form-row">
                </div>
                <div class="container form-row">
                <span ng-show="algoIncompletoActualizar()" class="alert alert-info">
                    Rellena <strong>todos</strong> los apartados del formulario para registrarse correctamente.
                </span>
                </div>
            </form>

        </div>
        <!--<pre>form = {{usuario | json}}</pre>
        <pre>master = {{master | json}}</pre>-->

    </div>

</div>