<div class="container" fade-in>

    <div class="page-header">
            <br><br>
            <h1>
                Nuestro propio granito de árena
            </h1>
    </div>

    <div class="row">
      <div class="col-md-12">
            <p style="margin-top:1em;">
                AuzoNet es una página web que nos permite intercambiar cosas que no necesitamos con nuestro vecinos del barrio, los cuales en cierto momento las necesitan.
            </p>
        </div>
    </div>
    <hr>

    <div class="row" >
        <div class="col-sm-6">
            <img class="img-responsive" src="imagenes/auzonet.jpg">
        </div>
        <div class="col-sm-6">
            El objetivo principal del sistema establecer un vínculo entre todos los habitantes de un barrio (o en este caso ciudad) para que inteactuen entre ellos. En cualquier momento puntual, cualquiera puede necesitar cualquier cosa. <br>
            ¿Por qué no prestarnos los objetos que necesitamos entre los vecinos de una manera altruista? 
            <br>
            De está pregunta nace esta idea, desarrollada por un estudiante de la Universidad de Deusto para la asignatura de Desarrollo Avanzado de Software, con las últimas tecnologías en el apartado técnico (HTML5, CSS3, BOOTSTRAP, ANGULARJS, JQUERY, AJAX, NODEJS, MONGODB, EJS, etc...).
        </div>

    </div>
    <hr>
    <div class="row" >
        Todos los iconos e imagenes son de sus respectivos dueños.
    </div>

    <hr>

    <div>

        <br>

    </div>


</div>




