<style>
    .about-img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>

<div class="container" fade-in>
<div class="page-header">
            <br><br>
            <h1>
                Información de contacto
            </h1>
            </div>

    <div class="row">

        <div class="col-md-5">
            <h3 style="text-align: center;">Administrador</h3>
            <p>Este proyecto es un sistema orientado para la asignatura de Desarrollo Avanzado de Software de la Universidad de Deusto. El que administra el sistema es el equipo de Auzonet para garantizar una experiencia satisfactoria en todos los aspectos. Todos los derechos reservados.</p>
        </div>

        <div class="col-md-5">
            <h3 style="text-align: center;">Soporte</h3>
            <p>Si respecto al sistema o al funcionamiento surge algun tipo de problema o duda sobre su funcionamiento, puede recurrir a <a href="#/faq">la página de preguntas frecuentes</a> en primera instancia. Si esto no resuelve sus dudas o problema sobre el sistema, puede enviar un email a la dirección <a href="mailto:auzonet@mail.ru?Subject=Necesito soporte de Auzonet"></a>, estaremos encantados de solucionar sus dudas.</p>
        </div>

    </div>

</div>