<div class="container" fade-in>
    <div class="page-header">
            <br><br>
            <h1>
                FAQ : Preguntas frecuentes
            </h1>
    </div>
    <div class="">
	    <div type="text" class="alert alert-info" data-toggle="collapse" data-target="#faq1"><strong>¿Qué es Auzonet?</strong></span><div>
		  <div id="faq1" class="collapse">
		    Auzonet es una plataforma orientada a formar un ambiente vecinal, especificamente orientado a la ciudad de Bilbao, aunque con la idea de ampliar el área de uso a más ciudades. Lo que se pretende es compartir aquellas cosas de las que disponemos en nuestras casa pero que no las utilizamos o ya no las queremos. A modo de darles una nueva vida, se cuelgan en esta web y el que las necesite contacta con el propietario. ¡Así de simple!
		  </div>
    	</div>
    </div>
    <div class="">
	    <div type="text" class="alert alert-info" data-toggle="collapse" data-target="#faq2"><strong>¿Cómo funciona?</strong></span><div>
		  <div id="faq2" class="collapse">
		    Después de un registro, podremos acceder a todo tipos de objetos disponibles en el sistema y que podemos pedir para que nos los presten otros usuarios. Con contactar con el propietario mediante email o teléfono, podemos llegar a un trato para que nos deje un determinado objeto (o nos lo venda).
		  </div>
    	</div>
    </div>
    <div class="">
	    <div type="text" class="alert alert-info" data-toggle="collapse" data-target="#faq3"><strong>¿Qué debo hacer para participar?</strong></span><div>
		  <div id="faq3" class="collapse">
		    Unicamente tenemos que crearnos una cuenta a nuestro nombre en el sistema y tendremos acceso completo a todas las funcionalidades, con las que podremos encontrar miles de objetos en proceso de prestamo. Para registrarse será necesario un email válido.
		    Por otro lado, nosotros podemos añadir nuestro propios objetos, mediante el formulario correspondiente y añadiendo los datos del objeto y una foto identificativa.
		  </div>
    	</div>
    </div>
    <div class="">
	    <div type="text" class="alert alert-info" data-toggle="collapse" data-target="#faq4"><strong>¿Cómo encuentro lo que necesito?</strong></span><div>
		  <div id="faq4" class="collapse">
		    Auzonet utiliza las últimas tecnologías con un buscador de objetos óptimizado para buscar los objetos que se necesiten rápidamente, ya sea por nombre, propietario o cualquier otro parámetro. Adicionalmente se dispone de un mapa para encontrar los objetos que tengamos más cerca geograficamente.
		  </div>
    	</div>
    </div>
    <div class="">
	    <div type="text" class="alert alert-info" data-toggle="collapse" data-target="#faq5"><strong>¿Cómo contacto con el propietario?</strong></span><div>
		  <div id="faq5" class="collapse">
		    Para contactar con el propietario se dispondrá del email y el teléfono que ha facilitado el propio propietario para dicho objeto, ya sea fijo o móvil.
		  </div>
    	</div>
    </div>
</div>