

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="navbar-footer">

        <!--
        <a class="navbar-brand" href="#">&copy; {{constants.company_name}} {{constants.copyright_year}}</a>
        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>


    <div id="footer-nav" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
        <li><a href="#/about"><i class="glyphicon glyphicon-info-sign glyphicon-white"></i> Sobre AuzoNet</a></li>
        <li><a href="#/contact"><i class="glyphicon glyphicon-screenshot glyphicon-white"></i> Contacto</a></li>
        <li><a href="#/faq"><i class="glyphicon glyphicon-question-sign glyphicon-white"></i> Preguntas y Respuestas</a></li>
        </ul>
        <ul class="nav navbar-nav">
        <li><a
            alt="Facebook"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Auzonet: El barrio conectado"
            socialshare-url="http://720kb.net">
            <img src="imagenes/facebook.png"></img>
            </a></li>
        <li><a
            alt="Twitter"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="Auzonet: El barrio conectado"
            socialshare-url="auzonet.net">
            <img src="imagenes/twitter.png"></img>
            </a></li>
        <li><a
            alt="Google+"
            socialshare
            socialshare-provider="google+"
            socialshare-text="Auzonet: El barro conectado"
            socialshare-url="http://720kb.net">
            <img src="imagenes/googleplus.png"></img>
            </a></li>
        </ul>



    </div>
</nav>